## YAML Template.
---
spring:
    cloud:
        config:
            server:
                git:
                    url:https://github.com/Moverr/springcloud
                    searchPaths:ConfigData
